<AuthorizeView>
    <NotAuthorized>
        @if(true) { NavigationManager.NavigateTo("login"); }
    </NotAuthorized>
</AuthorizeView>

<section id="add">
	<div class="container">
		<div class="back-btn">
			<a class="btn btn-border" href="/home">WRÓĆ</a>
		</div>

		<div class="card-container">

			<!-- <form action="#">-->
			<ul class="ul-add green-shadow">
				<li>
					<div class="detail">
						<p>Podaj imię nauczyciela:</p>
						<input type="text" id="imie" name="imie" placeholder="Imie">
					</div>
				</li>
				<li>
					<div class="detail">
						<p>Podaj nazwisko nauczyciela:</p>
						<input type="text" id="nazwisko" name="Nazwisko" placeholder="Nazwisko">
					</div>
				</li>
				<li>
					<div class="detail">
						<p>Ilość godzin w miesiącu:</p>
						<input type="number" id="count" name="count" placeholder="1">
					</div>
				</li>
				<li>
					<div class="btn-container">
						<input id="addNew" class="btn btn-dark" type="submit" value="DODAJ" @onclick="AddTeacher">
					</div>
				</li>
				<li class="planner">
					<p>Dostępność w tygodniu:</p>
					<table id="add-table" class="dark-shadow">
						<thead>
							<tr>
								<th>Godziny</th>
								<th>Poniedziałek</th>
								<th>Wtorek</th>
								<th>Środa</th>
								<th>Czwartek</th>
								<th>Piątek</th>
							</tr>
						</thead>
						<tbody>
							<tr id="8">
								<td>8-9</td>
								<td><input type="checkbox" id="1-poniedzialek" name="1-poniedzialek"></td>
								<td><input type="checkbox" id="1-wtorek" name="1-wtorek" class="myinput large custom"></td>
								<td><input type="checkbox" id="1-sroda" name="1-sroda" class="myinput large custom"></td>
								<td><input type="checkbox" id="1-czawrtek" name="1-czawrtek"></td>
								<td><input type="checkbox" id="1-piatek" name="1-piatek"></td>

							</tr>
							<tr id="9">
								<td>9-10</td>
								<td><input type="checkbox" id="1-poniedzialek" name="1-poniedzialek"></td>
								<td><input type="checkbox" id="1-wtorek" name="1-wtorek"></td>
								<td><input type="checkbox" id="1-sroda" name="1-sroda"></td>
								<td><input type="checkbox" id="1-czawrtek" name="1-czawrtek"></td>
								<td><input type="checkbox" id="1-piatek" name="1-piatek"></td>


							</tr>
							<tr id="10">
								<td>10-11</td>
								<td><input type="checkbox" id="1-poniedzialek" name="1-poniedzialek"></td>
								<td><input type="checkbox" id="1-wtorek" name="1-wtorek"></td>
								<td><input type="checkbox" id="1-sroda" name="1-sroda"></td>
								<td><input type="checkbox" id="1-czawrtek" name="1-czawrtek"></td>
								<td><input type="checkbox" id="1-piatek" name="1-piatek"></td>

							</tr>
							<tr id="11">
								<td>11-12</td>
								<td><input type="checkbox" id="1-poniedzialek" name="1-poniedzialek"></td>
								<td><input type="checkbox" id="1-wtorek" name="1-wtorek"></td>
								<td><input type="checkbox" id="1-sroda" name="1-sroda"></td>
								<td><input type="checkbox" id="1-czawrtek" name="1-czawrtek"></td>
								<td><input type="checkbox" id="1-piatek" name="1-piatek"></td>


							</tr>
							<tr id="12">
								<td>12-13</td>
								<td><input type="checkbox" id="1-poniedzialek" name="1-poniedzialek"></td>
								<td><input type="checkbox" id="1-wtorek" name="1-wtorek"></td>
								<td><input type="checkbox" id="1-sroda" name="1-sroda"></td>
								<td><input type="checkbox" id="1-czawrtek" name="1-czawrtek"></td>
								<td><input type="checkbox" id="1-piatek" name="1-piatek"></td>

							</tr>
							<tr id="13">
								<td>13-14</td>
								<td><input type="checkbox" id="1-poniedzialek" name="1-poniedzialek"></td>
								<td><input type="checkbox" id="1-wtorek" name="1-wtorek"></td>
								<td><input type="checkbox" id="1-sroda" name="1-sroda"></td>
								<td><input type="checkbox" id="1-czawrtek" name="1-czawrtek"></td>
								<td><input type="checkbox" id="1-piatek" name="1-piatek"></td>
							</tr>
							<tr id="14">
								<td>14-15</td>
								<td><input type="checkbox" id="1-poniedzialek" name="1-poniedzialek"></td>
								<td><input type="checkbox" id="1-wtorek" name="1-wtorek"></td>
								<td><input type="checkbox" id="1-sroda" name="1-sroda"></td>
								<td><input type="checkbox" id="1-czawrtek" name="1-czawrtek"></td>
								<td><input type="checkbox" id="1-piatek" name="1-piatek"></td>
							</tr>
							<tr id="15">
								<td>15-16</td>
								<td><input type="checkbox" id="1-poniedzialek" name="1-poniedzialek"></td>
								<td><input type="checkbox" id="1-wtorek" name="1-wtorek"></td>
								<td><input type="checkbox" id="1-sroda" name="1-sroda"></td>
								<td><input type="checkbox" id="1-czawrtek" name="1-czawrtek"></td>
								<td><input type="checkbox" id="1-piatek" name="1-piatek"></td>
							</tr>
							<tr id="16">
								<td>16-17</td>
								<td><input type="checkbox" id="1-poniedzialek" name="1-poniedzialek"></td>
								<td><input type="checkbox" id="1-wtorek" name="1-wtorek"></td>
								<td><input type="checkbox" id="1-sroda" name="1-sroda"></td>
								<td><input type="checkbox" id="1-czawrtek" name="1-czawrtek"></td>
								<td><input type="checkbox" id="1-piatek" name="1-piatek"></td>
							</tr>
						</tbody>
					</table>
				</li>
			</ul>
			<div class="under-tittle-container">
				<h6>Dodani nauczyciele</h6>
			</div>
			<div class="all-seperate">
				@foreach (var teacher in teachersCreated)
				{
					<button class="unhiden_item dark-shadow" id="@String.Format("{0}item",teacher.Id)" @onclick="() => ChangeStyle(teacher.Id)">
						<ul class="item" id="@teacher.Id">
							<li>@teacher.FirstName</li>
							<li>@teacher.LastName</li>
							<li>@teacher.HoursAvailability</li>
							<li>
								<div class="btn-container">
									<input id="@teacher.Id" class="btn btn-dark delete" type="submit" @onclick="(async ()=> await DeleteTeacher(teacher.Id))" value="USUŃ" />
									<input id="@teacher.Id" class="btn btn-dark edit" type="submit" value="EDYTUJ" onclick="editTeacher(this)" />
									<input class="btn btn-dark edit" type="submit" value="ZAPISZ" @onclick="UpdateTeacher" />
								</div>
							</li>
						</ul>
					</button>
					<div class="panel" id="@String.Format("{0}panel",teacher.Id)" style="@styles[teacher.Id]">
						<table class="hidden_item">
							<thead>
								<tr></tr>
								<tr>
									<th>Godziny</th>
									<th>Poniedziałek</th>
									<th>Wtorek</th>
									<th>Środa</th>
									<th>Czwartek</th>
									<th>Piątek</th>
								</tr>
							</thead>
							<tbody>
								@{
									int counter = 8;
								}
								@foreach (var row in transformAvailabilitiesIntoMatrix(teacher.Availabilities))
								{
									<tr id="@String.Format("{0}.{1}panel",counter,teacher.Id)">
										<td>8-9</td>
										@foreach (var column in row)
										{
											<td>
												<input id="@teacher.Id" type="checkbox" checked="@(column=='0' ? true : false)" disabled />
											</td>
										}
									</tr>
									counter++;
								}
							</tbody>
						</table>
					</div>
				}
			</div>
		</div>
	</div>
</section>