<section id="add">
    <div class="container" style="font-weight: normal;">
        
        
            @foreach(var classObject in outcomeData)
            {
                <div class="showPlan">
            <ul class="class dark-shadow">
                <li><b class="class_name">@classObject.ClassName</b></li>
                <li>
                    <div class="week">
                        @foreach(var dayOfWeek in classObject.DayOfWeeks)
                        {
                            <ul>
                          <li class="day"><b>@dayOfWeek.DayOfWeek</b></li>
                          <li>                              
                                  @foreach(var lesson in dayOfWeek.Lessons)
                                  {
                                      <div class="one_detail">
                                        <li><b>Przedmiot</b> - @lesson.SubjectName</li>
                                        <li><b>Grupa</b> - @lesson.GroupName</li>
                                        <li><b>Nauczyciel</b> - @lesson.Teacher</li>
                                        <li><b>Godzina rozpoczęcia</b> - @lesson.StartsAt</li>
                                        <li><b>Godzina zakończenia</b> - @lesson.EndsAt</li>
                                    </div>
                                  }                                                              
                          </li>
                          </ul>
                        }
                    </div>
                </li>
                </ul>
        </div>
            }      
    </div>
</section>         

@code {

}
